@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

:root {
  color-scheme: dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.glitch-text {
  animation: animate 2.5s linear infinite;
}

@keyframes animate {
  0% {
    text-shadow: -3px -3px 0 #02ff91, 3px 3px 0 #09ff09;
  }

  25% {
    text-shadow: 3px 3px 0 #02ff91, -3px -3px 0 #09ff09;
  }

  50% {
    text-shadow: 3px -3px 0 #02ff91, -3px 3px 0 #09ff09;
  }

  75% {
    text-shadow: -3px 3px 0 #02ff91, 3px -3px 0 #09ff09;
  }

  100% {
    text-shadow: 3px 3px 0 #02ff91, -3px -3px 0 #09ff09;
  }
}

.neon-handwritten-text {
  animation: neon-glow 1.5s linear infinite;
}

@keyframes neon-glow {
  0%,
  100% {
    text-shadow: 0 0 10px #20dc3f, 0 0 20px #20dc52, 0 0 30px #20dc33;
  }

  50% {
    text-shadow: 0 0 20px #20dc3c, 0 0 40px #39dc20, 0 0 60px #20dc29;
  }
}

.btn {
  @apply font-mono w-80 md:w-56 tracking-wider h-16 text-xl transition-all shadow-md hover:shadow-lg font-medium hover:scale-105;
}

.menu-point {
  @apply cursor-pointer font-semibold leading-4 text-gray-50 font-mono  bg-clip-text hover:text-transparent hover:bg-gradient-to-r from-my-lime to-teal-600 hover:scale-125 transition-all;
}

.block-title {
  @apply text-2xl sm:text-4xl md:text-6xl  text-center bg-gradient-to-r text-transparent bg-clip-text from-green-500 from-40% to-teal-700 mb-20;
}
